@import "./variable.scss";

.Classify{
    display: flex;
    align-items: center;
    button{
        &:nth-child(1){
            @include buttonDetail(rgb(252, 252, 156), rgb(0, 0, 0), black);
        }
        &:nth-child(2){
            @include buttonDetail(rgb(153, 153, 255), rgb(0, 0, 0), black);
            margin: 0px 10px;
        }
    }
}