@import "./variable.scss";

.Comment-cmt, .LatestComments{
    padding: 0px 10px;
    box-sizing: border-box;
    nav{
        display: flex;
        align-items: center;
        h3{
            margin: 0px;
            color: black;
            border: 3px double black;
            user-select: none;
            padding: 10px;
        }
    }
    .ProductID-cmt-add{
        display: flex;
        align-items: center;
        input{
            width: 70%;
            margin: 10px 0px;
            padding: 5px 0px 5px 5px;
            font-size: 18px;
            border: none;
            outline: none
        }
        svg{
            color: rgb(81, 81, 227);
            padding: 5px;
            border-radius: 100vh;
            margin-left: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .ProductID-cmt-box{
        @include ProductID--box(430px);
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
.cmt-box_item{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid orange;
    margin: 10px;
}
.avatarAndAuth{
    display: flex;
    align-items: center;
}
.avatarAndAuth-img{
    @extend %imgChat;
}
.Auth{
    display: flex;
    flex-direction: column;
    h3{
        color: gray;
        font-weight: 400;
        margin: 0px;
    }
    p{
        font-size: 15px;
        +p{
            font-size: 10px;
        }
    }
}
.cmtAndLike{
    p{
        margin: 5px;
    }
    .LikeAndDislike{
        margin: 10px 0px;
        div{
            display: flex;
            span{
                font-size: 15px;
                cursor: pointer;
                +span{
                    margin-left: 10px
                }
            }
        }  
    }
}
.unChat{
    margin-top: 10px;
    display: flex;
}
.unChatImgAndAuth{
    display: flex;
    flex-direction: column;
    align-items: center;
    .Auth{
        margin-top: 10px;
        p{
            margin: 10px 0px;
        }
    }
}
.cmtAndLikeUnChat{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.seeAll{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}