@import "./variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
.Nav{
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    // padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .Nav_top{
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            color: black;
            font-size: 20px;
            text-shadow: $textShadow;
            font-family: 'Nothing You Could Do', cursive;
            user-select: none;
            padding: 0px 10px;
        }
    }
    .Nav_down{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bgColor;
    }
}
.Nav-navbar-list {
    padding-left: 0px;
    display: flex;
    align-items: center;
    li{
        list-style: none;
        @extend %navbar;
        + li{
            margin-left: 20px;
        }
        &:hover{
            @extend %navbarHover;
        }
        a{
            @extend %navbar;
            &:hover{
                @extend %navbarHover;
            }
        }
    }
    li.product-nav{
        position: relative;
        cursor: pointer;
        &::before{
            content: "";
            width: 40px;
            height: 30px;
            background-color: transparent;
            position: absolute;
            bottom: -30px;
            left: -10px;
        }
        .product-box{
            position: absolute;
            bottom: -205px;
            left: -120px;
            display: none;
        }
        &:hover .product-box{
            display: block;
        }
    }
}
.Nav_center {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    padding: 10px 0px;
    width: 100%;
    position: relative;
    input{
        width: 80%;
    }
    span{
        right: 9.7%;
    }
}
.Nav_top_search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    input{
        width: 60%;
    }
    span{
        right: 19.7%;
    }
}
.search-ip{
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}
.search-span{
    position: absolute;
    width: 70px;
    height: 28px;
    background-color: $bgColor;
    display: grid;
    border-radius: 30px;
    place-content: center center;
    svg{
        color: white;
    }
}
@media only screen and (max-width : 46.1875em) {
    .Nav_top_search{
        display: none;
    }
    .Nav_center{
        display: flex;
    }
}