@import "./variable.scss";

.HistoryAccess-Navbar{
    @include ProductID--box(590px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    &::-webkit-scrollbar{
        display: none;
    }
}