@import "./variable.scss";

.Map h2{
    @extend %title;
}
.Map h2::after{
    @extend %titleAffter;
}
.Map-Detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.Map-Detail_location{
    width: 80%;
    height: 700px;
}
@media only screen and (max-width: 89.9374em){
}
@media only screen and (max-width: 78.9375em){
    .Map-Detail_location{
        height: 600px;
    }
}
@media only screen and (max-width : 46.1875em){
    .Map-Detail_location{
        height: 300px;
    }
}