.Notification{

}
.Notification-item{
    display: flex;
    align-items: center;
    + .Notification-item{
        margin-top: 10px;
    }
    &:nth-last-child(1){
        margin-bottom: 10px;
    }
    .Notification-item_img{
        img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    p{
        font-size: 15px;
        padding: 0px 10px;
    }
}