@import "./variable.scss";

.PageSection{
    margin: 10px 0px;
    width: 100%;
}
.PageSection_title{
  @extend %title;
}
.PageSection_title::after{
  @extend %titleAffter
}
.PageSection-section{
    display: grid;
    grid-template-columns: 100%;
}
.PageSection-section_data{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.PageSection-section_data 
.PageSection-section_data-card {
    @include card(169px);
  }

  .PageSection-section_data img {
    @include imgCard(160px);
  }
  
  .PageSection-section_data .data-card_title {
    @extend %titleCard;
  }
  
  .PageSection-section_data .data-card_rating {
    @extend %ratingCard;
  }
  
  .PageSection-section_data .data-card_price {
    @extend %priceCard;
  }
  
  .PageSection-section_data .data-card_price h5:first-child {
    @extend %priceFirst;
  }
  
.PageSection-section_data .data-card_price h5:last-child {
    @extend %priceLast;
  }
  
.PageSection-section_data .data-card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  a.button:nth-child(1){
    @include btnCard(rgb(241, 60, 60));
    &:hover{
      @include btnHvCard(white, rgb(241, 60, 60));
    }
  }
  a.button:nth-child(2){
    margin-left: 10px;
    @include btnCard();
    &:hover{
      @include btnHvCard();
    }
  }
}