@import "./variable.scss";

.PageSection{
    margin: 10px 0px;
    width: 100%;
}
.PageSection_title{
  @extend %title;
}
.PageSection_title::after{
  @extend %titleAffter
}
.PageSection-section_data{
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  justify-content: center;
  .PageSection-section_data-card {
    @include card(auto);
  }
}

.PageSection-section_data img {
  @include imgCard(250px);
}

.PageSection-section_data .data-card_title {
  @extend %titleCard;
}

.PageSection-section_data .data-card_rating {
  @extend %ratingCard;
}
  
.PageSection-section_data .data-card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  a.button:nth-child(1){
    @include btnCard(rgb(241, 60, 60));
    &:hover{
      @include btnHvCard(white, rgb(241, 60, 60));
    }
  }
  a.button:nth-child(2){
    margin-left: 10px;
    @include btnCard();
    &:hover{
      @include btnHvCard();
    }
  }
}
@media only screen and (max-width: 78.75em){
  .PageSection-section_data{
    grid-template-columns: 19% 19% 19% 19% 19%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width: 62.5em){
  .PageSection-section_data{
    grid-template-columns: 24% 24% 24% 24%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width : 46.25em){
  .PageSection-section_data{
    grid-template-columns: 32% 32% 32%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width : 30em){
  .PageSection-section_data{
    grid-template-columns: 47% 47%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}