@import "./variable.scss";

.PageSection{
    margin: 10px 0px;
    width: 100%;
}
.PageSection_title{
  @extend %title;
}
.PageSection_title::after{
  @extend %titleAffter
}
.PageSection-section_data{
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  justify-content: center;
  .PageSection-section_data-card {
    @include card(auto);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.PageSection-section_data img {
  @include imgCard(250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageSection-section_data .data-card_title {
  @extend %titleCard;
}

.PageSection-section_data .data-card_rating {
  @extend %ratingCard;
}
  
.PageSection-section_data .data-card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  a.button:nth-child(1){
    @include btnCard(rgb(241, 60, 60));
    &:hover{
      @include btnHvCard(white, rgb(241, 60, 60));
    }
  }
  a.button:nth-child(2){
    margin-left: 10px;
    @include btnCard();
    &:hover{
      @include btnHvCard();
    }
  }
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  color: #000000;
  @include imgCard(250px);
  display: flex;
  align-items: center;
  justify-content: center;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


@media only screen and (max-width: 78.75em){
  .PageSection-section_data{
    grid-template-columns: 19% 19% 19% 19% 19%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width: 62.5em){
  .PageSection-section_data{
    grid-template-columns: 24% 24% 24% 24%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width : 46.25em){
  .PageSection-section_data{
    grid-template-columns: 32% 32% 32%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}
@media only screen and (max-width : 30em){
  .PageSection-section_data{
    grid-template-columns: 47% 47%;
    .PageSection-section_data-card {
      @include card(auto);
    }
  }
}