@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import "./variable.scss";
.ProductNav{
    margin: 0;
    padding: 10px;
    font-family: Verdana;
    text-align: center;
    font-family: Verdana;
    color: #efefef;
    background: $bgColor;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ProductNav-history{
    width: 200px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ProductNav-history_display{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductNav-history_display + 
.ProductNav-history_display{
    margin-top: 10px;
    border-top: 1px solid rgb(233, 214, 9);
    padding-top: 10px;
}
