@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "./variable.scss";

  .Product{
    background-color: #e3eaf0;
    color: #747d89;
    font-size: 16px;
    padding: 2rem 0;
    overflow: hidden;
  }
  .Product h2 {
    @extend %title;
  }
  
  .Product h2::after {
    @extend %titleAffter
  }
  
  .Product .slider {
    display: flex;
  }
  
  .Product .slider .card {
    @include card(240px);
    margin: 5px auto;
  }
  
  .Product .slider .card .like {
    @extend %like;
  }
  
  .Product .slider .card .like:hover {
    @extend %likeHover;
  }
  
  .Product .slider .card img {
    @include imgCard();
  }
  
  .Product .slider .card .title {
    @extend %titleCard;
  }
  
  .Product .slider .card .rating {
    @extend %ratingCard;
  }
  
  .Product .slider .card .price {
    @extend %priceCard;
  }
  
  .Product .slider .card .price h5:first-child {
    @extend %priceFirst;
  }
  
  .slider .card .price h5:last-child {
    @extend %priceLast;
  }
  
  .slider .card a.button {
    @extend %btnCard;
  }
  
  .slider .card a.button:hover {
    @extend %btnHvCard;
  }
  