$textShadow : rgb(255, 206, 10) 1px 0 10px;
$bgColor: black;
$cor-background: #f7f8fa;
$cor-branco: #fff;
$cor-texto: #241a52;
$cor-texto-fraco: #c4bfd4;
$cor-borda-input-desabilitado: #f2f1f6;
$cor-roxo-puro: #7e63ff;
$cor-placeholder: #837dff;
$cor-linear-1: #8dacff;
$cor-linear-2: #7c5dff;
$cor-background-desfocado: rgba(255, 255, 255, 0.15);
$cor-shadow-desfocado: rgba(0, 0, 0, 0.1);
$cor-borda-desfocado: rgba(255, 255, 255, 0.2);
$border: 1px solid black;
$txAlent: center;
$pd: 10px;
$ctColor: white;

@mixin button($bgColor: red){
    width: 30px;
    border: 1px solid black;
    padding: 5px;
    background-color: $bgColor;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
@mixin buttonDetail($bgColor: red, $text: white, $bd: yellow){
    width: 100px;
    border: 3px $bd double;
    padding: 5px;
    background-color: $bgColor;
    color: $text;
    font-weight: bold;
    cursor: pointer;
}

@mixin ProductID--box($heghtBox: 0px){
    margin-top: 10px;
    width: 100%;
    height: $heghtBox;
}

%navbar{
    color: white;
    text-decoration: none;
    text-shadow: $textShadow;
    user-select: none;
}
%navbarHover{
    color: rgb(244, 171, 125);
    transition: all .3s linear;
}
%title{
    color: #000;
    font-weight: 300;
    position: relative;
    text-align: center;
}
%titleAffter{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: #7ac402;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

%imgChat{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100vh;
    margin-right: 20px;
    object-fit: cover;
}
%mainAndNavbar{
    display: grid;
    grid-template-columns: 60% 40%;
}

//Card
@mixin card($mxWidth: 200px){
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
    padding: 1rem;
    -webkit-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 5px -5px rgba(0, 0, 0, 0.75);
    width: 100%;
    max-width: $mxWidth;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

@mixin imgCard($hg: 240px){
    width: 100%;
    height: $hg;
    object-fit: cover;
}
%titleCard{
    font-weight: 300;
    font-size: 20px;
    margin: 0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
%ratingCard{
    color: #ffc002;
    margin-bottom: 10px;
}
@mixin btnCard($cl: #7ac402){
    border: 1px solid $cl;
    border-radius: 30px;
    color: $cl;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s all ease;
    box-sizing: border-box;
}
@mixin btnHvCard($cl: white, $bg: #7ac402){
    background-color: $bg;
    color: $cl;
}