@import "./variable.scss";

.WishList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px
}
.WishList h2{
    @extend %title;
    text-transform: uppercase;
}
.WishList h2::after{
    @extend %titleAffter;
}
.WishList p{
    font-size: 24px;
    color: rgb(31, 31, 31);
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0px 10px;
    user-select: none;
}
.WishList img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.WishList-Total{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
.WishList-Total_d, .WishList-Total_btn{
    display: flex;
    align-items: center;
}
.WishList-Total_d p{
    color: red;
    font-size: 20px;
}
.WishList-Total_btn button{
    padding: 15px;
    color: white;
    background-color: black;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}